
  .bgContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 60px 0px;
    background-image: linear-gradient(to bottom,black,#6c210c);
  }

  .topSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10em;
    color: yellow;
    text-align: center;
    position: relative;
    animation: glow 1.5s infinite alternate;
  }

  .dateSection{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4em;
    color: rgb(250, 249, 247);
    text-align: center;
    position: relative;
    animation: glow 1.5s infinite alternate;
  }
  
  @keyframes glow {
    0% {
      text-shadow: 0 0 5px yellow, 0 0 10px yellow, 0 0 15px yellow;
    }
    100% {
      text-shadow: 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow;
    }
  }
  

  .image{
    height: 60vh;
    width: 40vw;
  }
  
  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
  }
  

  .cta-button {background-image: linear-gradient(to right, #000000 0%, #e74c3c  51%, #000000  100%)}
  .cta-button {
     margin: 10px;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 0 20px #530808;
     border-radius: 10px;
     display: block;
   }

   .cta-button:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }
  
  